.match-list-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.match-list-header {
  padding: 0.6rem 1.2rem;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-very-bold);
  background: linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
              linear-gradient(var(--ternary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.match-list-header:hover {
  transform: scale(0.95);
  box-shadow: 0 0 1rem var(--secondary-color);
}

.match-list {
  width: 100rem;
  max-width: 95%;
  list-style: none;
  background: linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
              linear-gradient(var(--ternary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
  padding: 2rem;
  box-sizing: border-box;
}

.match-item {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3rem;
  padding: 0.2rem 0;

  background: none;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}


.match-item:hover {

}

.match-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(135deg, var(--ternary-color), var(--secondary-color));
  padding: 0.8rem 1.2rem;
  border-radius: 20px;

  color: var(--primary-color);
  margin-right: 1rem;

  transition: all 0.2s ease;
}

.match-details:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px var(--secondary-color);
}



.match-details span {
  font-size: var(--font-size-medium);
  font-weight: 600;
}

.match-details img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background-color: white;
}

.match-info {
  height: 4.3rem;
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
  font-size: var(--font-size-medium);
  font-weight: bold;

  color: var(--primary-color);
  background: linear-gradient(var(--secondary-color), var(--ternary-color));
  border: 2px solid var(--primary-color);

  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.match-info:hover {
  transform: scale(1.05);
  background: linear-gradient(var(--ternary-color), var(--secondary-color));
  box-shadow: 0 0 10px var(--primary-color);
}
