.navbar {
  box-sizing: border-box;
  width: 98%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 1% 5vh 1%;
}

.nav-link-main {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-very-bold);
  background: linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
  linear-gradient(var(--ternary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0.5rem;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--secondary-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-very-bold);
  background: linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
  linear-gradient(var(--ternary-color), var(--secondary-color)) border-box;
  border: 5px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.nav-link-main,
.nav-link {
  transition: all 0.2s ease;
}

.nav-link-main:hover,
.nav-link:hover {
  transform: scale(0.95);
  box-shadow: 0 0 1rem var(--secondary-color);
}

.lang-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-current {
  cursor: pointer;
  position: relative;
}

.lang-menu {
  list-style: none;
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 0.5rem var(--secondary-color);
  padding: 0.3rem 0;
  z-index: 20;
  min-width: 7rem;
  text-align: center;
}

.lang-menu li {
  color: var(--secondary-color);
  padding: 0.5rem;
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-very-bold);
  transition: all 0.2s ease;
  border-radius: 6px;
}

.lang-menu li:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: scale(0.95);
  box-shadow: 0 0 0.5rem var(--secondary-color);
}